.logo {
  font-size: 2rem;
}

.logo-hover {
  cursor: default;
}


.section-container {
  display: flex;
}

#profile {
  display: flex;
  justify-content: center;
  height: 80vh; 
}

.section-picture-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  clip-path: circle();
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}


.section-text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}



#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  
}



