version: '3.8'

services:
  backend:
    build:
      context: ./Backend/controller
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "8000:8000"
    volumes:
      - ./Backend/controller:/app
    environment:
      - PYTHONUNBUFFERED=1
    command: ["python", "./manage.py", "runserver", "0.0.0.0:8000"]

    develop:
      watch:
        - path: ./Backend/controller
          action: rebuild

  frontend:
    build:
      context: ./Frontend/portfolioResume
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./Frontend/portfolioResume:/app
    stdin_open: true
    tty: true
    develop:
      watch:
        - path: ./Frontend/portfolioResume
          action: rebuild

    