.about-section-container {
  display: flex;
}

.about-containers {
  // display: flex;
  // justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-picture {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 10px;
  // border: 2px dotted rgb(96 139 168);
}

.about-text-p1 {
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.about-section-picture-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  clip-path: circle();
}
.icon {
  cursor: pointer;
  height: 2rem;
}

#about {
  position: relative;
}
