<div class="navbar">
  <div class="navbar__left">
    <div class="navbar-img-container">
      <img
        class="navbar-img"
        src="../../assets/images/navbar-face.png"
        alt="face"
      />
    </div>
  </div>
  <div class="navbar__right">
    <a class="navbar__item" href="/pogoda/">home</a>
    <a class="navbar__item" href="/pogoda/resume">Resume</a>
    <a class="navbar__item" href="/pogoda/portfolio">Portfolio</a>
    <button class="navbar__item-signin" >login</button>
    <button class="navbar__item-signup" >signup</button>
  </div>
</div>
