@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  //   background-color: #000000; in the future I will change the background color to black
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #555555;
}

a,
.btn {
  transition: all 300ms ease;
}

a {
  color: #000000;
  text-decoration: none;
  text-decoration-color: #ffffff;
}

a:hover {
  color: #6318af;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #4a4a4a;
}

section {
  padding-top: 4vh;

  height: 96vh;

  margin: 0 10rem;

  box-sizing: border-box;

  min-height: fit-content;
}

nav,
.nav-links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

//----------------------------Global Styles---------------------------------//
