name: Run Angular Unit Tests with ChromeHeadless

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Angular CLI
        run: cd Frontend/portfolioResume && npm install -g @angular/cli

      - name: Install project dependencies
        run: cd Frontend/portfolioResume && npm ci

      - name: Run Angular unit tests with ChromeHeadless
        run: |
          cd Frontend/portfolioResume
          ng test --watch=false --browsers=ChromeHeadless
