# name: Playwright Tests

# on: [push]
# jobs:
#   test:
#     timeout-minutes: 10
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Set up Python
#         uses: actions/setup-python@v4

#         with:
#           python-version: "3.11"
#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r Backend/controller/requirements.txt
#       # - name: Ensure browsers are installed
#       #   run: python -m playwright install --with-deps
#       - name: Run your tests
#         run: python Playwright-tests/test_homePage.py