name: Playwright Automation Testing

on:
  workflow_call: # Allows this workflow to be reused
    inputs:
      python-version:
        description: 'Python version to use'
        default: '3.11'
        type: string

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r Backend/controller/requirements.txt

      - name: Run Playwright Tests
        run: python Playwright-tests/test_homePage.py
