name: Jira Update

on:
    pull_request:
        types: [opened, synchronize, reopened]
    # lame comment 21
jobs:
  update-jira:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Parse Branch Name
        id: parse_branch
        run: |
          BRANCH_NAME=${{ github.head_ref }}
          echo "Branch name: $BRANCH_NAME"
          if [[ "$BRANCH_NAME" =~ ^([A-Z]+-[0-9]+)-(.+)$ ]]; then
            PROJECT_KEY=${BASH_REMATCH[1]}
            echo "::set-output name=project_key::$PROJECT_KEY"
            ISSUE_NUMBER=$(echo $PROJECT_KEY | cut -d'-' -f2)
            echo "::set-output name=issue_number::$ISSUE_NUMBER"
          else
            echo "No matching Jira issue format found."
            exit 1
          fi

      - name: Update Jira Issue
        # if: github.event.pull_request.merged == false 
        if: github.event_name == 'pull_request' && github.event.action == 'synchronize'
        env:
          JIRA_API_TOKEN: ${{ env.Action_keys.secrets.JIRA_API_TOKEN }}
          JIRA_EMAIL: ${{ env.Action_keys.secrets.JIRA_EMAIL }}
          JIRA_BASE_URL: ${{ env.Action_keys.secrets.JIRA_BASE_URL }}
        run: |
          PROJECT_KEY=${{ steps.parse_branch.outputs.project_key }}
          ISSUE_NUMBER=${{ steps.parse_branch.outputs.issue_number }}
          ISSUE_KEY="${PROJECT_KEY}"
          COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")
          PULL_REQUEST_URL=${{ github.event.pull_request.html_url }}
          echo "Updating Jira issue: $ISSUE_KEY ${{env.JIRA_BASE_URL}}"
            #   echo ${{env.JIRA_BASE_URL}}/rest/api/3/issue/${env.ISSUE_KEY}
          curl -X PUT \
            -u $JIRA_EMAIL:${{ env.Action_keys.JIRA_API_TOKEN }} \
            -H "Content-Type: application/json" \
            --data '{
              "update": {
                "comment": [
                  {
                    "add": {
                      "body": "Pull request merged: [${PULL_REQUEST_URL}]\\nLatest commit: ${COMMIT_MESSAGE}"
                    }
                  }
                ],
                "status": [
                  {
                    "set": {
                      "name": "Done"
                    }
                  }
                ]
              }
            }' \
            "${{env.JIRA_BASE_URL}}/rest/api/3/issue/${{env.ISSUE_KEY}}"
